<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated dsl -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="dsl.presentation.DslModelWizardID"
            name="%_UI_DslModelWizard_label"
            class="dsl.presentation.DslModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DslModelFile.gif">
         <description>%_UI_DslModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated dsl -->
      <editor
            id="dsl.presentation.DslEditorID"
            name="%_UI_DslEditor_label"
            icon="icons/full/obj16/DslModelFile.gif"
            extensions="dsl"
            class="dsl.presentation.DslEditor"
            contributorClass="dsl.presentation.DslActionBarContributor">
      </editor>
   </extension>

</plugin>
